body {
  background-color: black;
}
.testing {
  background-color: red;
  height: 20px;
}

.eye-images {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

.eye {
  z-index: -1;
}

.no-eye {
  margin-top: -782px;
  z-index: 1;
}

.animated {
  -webkit-animation: my-cool-animation 5s cubic-bezier(0.590, 0.705, 0.800, 0) alternate 1;
}

@-webkit-keyframes my-cool-animation {
  0% { opacity: 1; }
  30% { opacity: 0.33; }
  60% { opacity: 0; }
  100% { opacity: 1; }
}